<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
    <h1 th:text="'List of Vets'">List of Vets...</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : ${vets}">
            <td th:text="${entity.getId()}">N.A</td>
            <td th:text="${entity.getFirstName()}">N.A</td>
            <td th:text="${entity.getLastName()}">N.A</td>
        </tr>
        </tbody>
    </table>
</body>
</html>